{% extends 'dashboard/base.html' %}
{% load static i18n %}
{% block content %}
<div class="row layout-spacing layout-top-spacing" id="cancel-row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'overviewpage' %}" class="btn btn-info mb-2 mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-left"><polyline points="9 10 4 15 9 20"></polyline><path d="M20 4v7a4 4 0 0 1-4 4H4"></path></svg>&nbsp;{% trans 'Go to pages overview' %}</a>
                <a href="{% url 'open-preview' canvas=page.canvas.pk %}" class="btn btn-default mb-2 mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>&nbsp;{% trans 'Preview mode' %}</a>
                {% comment %}<a href="{% url 'overviewpage' %}" class="btn btn-primary mb-2 mr-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>&nbsp;{% trans 'Block library' %}</a>{% endcomment %}
            </div>
        </div>
        <div class="canvas-block">
            <div class="canvas-builder col-md-9 layout-spacing" id="sortable" data-page="{{page.id}}" data-id="{{page.canvas.id}}" data-csrf="{{csrf_token}}">
                
            </div>
            <div class="canvas-nav col-md-3">
                <div class="widget-content widget-content-area animated-underline-content">
                                    
                    <ul class="nav nav-tabs  mb-3" id="animateLine" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="animated-underline-home-tab" data-toggle="tab" href="#animated-underline-home" role="tab" aria-controls="animated-underline-home" aria-selected="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>&nbsp;{% trans 'Row' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="animated-underline-profile-tab" data-toggle="tab" href="#animated-underline-profile" role="tab" aria-controls="animated-underline-profile" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns"><path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"></path></svg>&nbsp;{% trans 'Column' %}</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="animateLineContent-4">
                        <div class="tab-pane fade show active" id="animated-underline-home" role="tabpanel" aria-labelledby="animated-underline-home-tab">
                            <h4>{% trans 'Add a row below' %}</h4>
                            <div class="row-canvas row-canvas-draggable">
                                <div class="col-md-6 d-flex justify-content-center align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>                                </div>
                                <div class="col-md-6 d-flex justify-content-center align-items-center">
                                    {% trans 'Add row' %}
                                </div>
                            </div>     
                        </div>
                        <div class="tab-pane fade" id="animated-underline-profile" role="tabpanel" aria-labelledby="animated-underline-profile-tab">
                            <h4>{% trans 'Choose and add a column below' %}</h4>
                            <div class="row-canvas-droppable-12 row-canvas layout-top-spacing">
                                <div class="col-canvas is-selected col-md-12 d-flex justify-content-center align-items-center">
                                    {% trans 'Column 1' %}
                                </div>
                            </div>
                            <div class="row-canvas-droppable-6 row-canvas layout-top-spacing">
                                <div class="col-canvas is-selected col-md-6 d-flex justify-content-center align-items-center">
                                    {% trans 'Column 1' %}
                                </div>
                                <div class="col-canvas is-selected col-md-6 d-flex justify-content-center align-items-center ">
                                    {% trans 'Column 2' %}
                                </div>
                            </div> 
                            <div class="row-canvas-droppable-4 row-canvas layout-top-spacing">
                                <div class="col-canvas is-selected col-md-4 d-flex justify-content-center align-items-center">
                                    {% trans 'Column 1' %}
                                </div>
                                <div class="col-canvas is-selected col-md-4 d-flex justify-content-center align-items-center ">
                                    {% trans 'Column 2' %}
                                </div>
                                <div class="col-canvas is-selected col-md-4 d-flex justify-content-center align-items-center ">
                                    {% trans 'Column 3' %}
                                </div>
                            </div> 
                            <div class="row-canvas-droppable-3 row-canvas layout-top-spacing">
                                <div class="col-canvas is-selected col-md-3 d-flex justify-content-center align-items-center">
                                    {% trans 'Column 1' %}
                                </div>
                                <div class="col-canvas is-selected col-md-3 d-flex justify-content-center align-items-center ">
                                    {% trans 'Column 2' %}
                                </div>
                                <div class="col-canvas is-selected col-md-3 d-flex justify-content-center align-items-center">
                                    {% trans 'Column 3' %}
                                </div>
                                <div class="col-canvas is-selected col-md-3 d-flex justify-content-center align-items-center ">
                                    {% trans 'Column 4' %}
                                </div>
                            </div> 
                            <div class="row-canvas-droppable-84 row-canvas layout-top-spacing">
                                <div class="col-canvas is-selected col-md-8 d-flex justify-content-center align-items-center">
                                    {% trans 'Column 1' %}
                                </div>
                                <div class="col-canvas is-selected col-md-4 d-flex justify-content-center align-items-center ">
                                    {% trans 'Column 2' %}
                                </div>
                            </div> 
                            <div class="row-canvas-droppable-48 row-canvas layout-top-spacing">
                                <div class="col-canvas is-selected col-md-4 d-flex justify-content-center align-items-center">
                                    {% trans 'Column 1' %}
                                </div>
                                <div class="col-canvas is-selected col-md-8 d-flex justify-content-center align-items-center ">
                                    {% trans 'Column 2' %}
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'canvas/__partials/__block_modal.html' %}
{% include 'canvas/__partials/__content_modal.html' %}
<script src="{% static 'admin/js/libs/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'admin/js/page_builder.js' %}"></script>
<script>
    // $('.open-delete-modal').on('click', function() {
    //     var id = $(this).data('id');
    //     $.ajax({
    //         url: '{% url 'deletemodalpage'  %}',
    //         type:"POST",
    //         data: {
    //             'id': id,
    //             'csrfmiddlewaretoken': '{{ csrf_token }}',
    //         },
    //         success:function(data){
    //             console.log(data);
    //             $('.modal-placeholder').html(data.template);
    //             $('.modal').modal();
    //         }
    //     });
    // })
    
    $(function () {
    
        $('#sortable').sortable({
            update: function () {
                move($('#sortable').sortable('serialize', 'id'));
            }
        });
        function move(order) {
            $.ajax({
                type: 'POST',
                url: '{% url 'canvas-row-reorder' %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'item': order
                },
                success: function () {
                    //OK
                }
            });
        }
    
    });
</script>
{% endblock %}

