{% extends 'dashboard/base.html' %}
{% load static i18n svg %}
{% block content %}
<div class="row layout-top-spacing layout-spacing">
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>{% trans 'Mailconfiguration overview' %}</h4>
                        <a href="{% url 'addmailconfig' %}" class="btn btn-info mb-2 ml-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg> {% trans 'Add mail configuration' %}</a>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4">
                    <table id="style-3" class="table style-3  table-hover">
                        <thead>
                            <tr>
                                <th>{% trans 'Title' %}</th>
                                <th>{% trans 'Keyname' %}</th>
                                <th>{% trans 'Mailtemplate' %}</th>
                                <th class="text-center">{% trans 'Action' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for config in configs %}
                                <tr>
                                    <td>{% if config.title %}{{config.title}}{% else %}{% endif %}</td>
                                    <td>{% if config.key_name %}{{config.key_name}}{% else %}{% endif %}</td>
                                    <td>{% if config.mailtemplate %}{{config.mailtemplate}}{% else %}{% endif %}</td>
                                    <td class="text-center">
                                        {% include 'mailconfigs/__partials/actions.html' with item=config %}
                                    </td>
                                </tr>
                            {% endfor %}  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-placeholder">

    </div>
</div>
{% endblock content %}
{% block js %}
<script>
$('.open-delete-modal').on('click', function() {
    var id = $(this).data('id');
    $.ajax({
        url: '{% url 'deletemodalmailconfig'  %}',
        type:"POST",
        data: {
            'id': id,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success:function(data){
            console.log(data);
            $('.modal-placeholder').html(data.template);
            $('.modal').modal();
        }
    });
})

$('.open-version-modal').on('click', function() {
    var id = $(this).data('id');
    $.ajax({
        url: "{% url 'mailconfigversionmodal'  %}",
        type:"POST",
        data: {
            'id': id,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success:function(data){
            console.log(data);
            $(document).find('.modal-placeholder').html(data.template);
            $('.version-modal').modal();
        }
    });
});

$(document).on('click', '.open-delete-version-modal', function(e) {
    // e.preventDefault();
    var id = $(this).data('id');
    $.ajax({
        url: '{% url 'maildeleteversionmodal' 'config'  %}',
        type:"POST",
        data: {
            'id': id,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success:function(data){
            console.log(data);
            $('.modal-backdrop').removeClass("modal-backdrop fade show")
            $(document).find('.modal-placeholder').html(data.template)
            $('.delete-version-modal').modal();
        }
    });
});
</script>
{% endblock %}