asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Django==3.1.5
django-countries==7.0
django-extensions==3.1.1
django-internationalflavor==0.4.1
django-redis-cache==2.1.0
django-rq==2.1.0
django-translation-manager==1.1.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
idna==2.10
mysql-connector-python==8.0.23
mysqlclient==2.0.3
Pillow==8.1.0
polib==1.1.0
protobuf==3.15.1
python-decouple==3.4
pytz==2020.5
redis==3.5.3
requests==2.25.1
rq==1.7.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.3
