{% load i18n widget_tweaks %}
<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
        <h4>{% trans 'Block' %}</h4>
    </div>
</div>
<div class="form-group mb-4">
    <div class="n-chk">
        <label class="new-control new-checkbox checkbox-primary new-checkbox-text">
            {{form.active|append_attr:"class:form-control"|add_error_attr:"class:is-invalid"}}
            <span class="new-control-indicator"></span><span class="new-chk-content">    {{ form.active|add_label_class:'' }}
            </span>
        </label>
    </div>
</div>
<div class="form-group mb-4">
    {{ form.name|add_label_class:'' }}
    {{form.name|append_attr:"class:form-control"|add_error_attr:"class:is-invalid"}}     
    {% if form.name.errors %}
        <div class="invalid-feedback">
            {{form.name.errors}}
        </div>
    {% endif %}   
</div>
<div class="form-group mb-4">
    {{ form.category|add_label_class:'' }}
    {{form.category|append_attr:"class:form-control basic"|add_error_attr:"class:is-invalid"}}     
    {% if form.category.errors %}
        <div class="invalid-feedback">
            {{form.category.errors}}
        </div>
    {% endif %}   
</div>
<div class="form-group mb-4">
    {{ form.col_size|add_label_class:'' }}
    {{form.col_size|append_attr:"class:form-control basic"|add_error_attr:"class:is-invalid"}}     
    {% if form.col_size.errors %}
        <div class="invalid-feedback">
            {{form.col_size.errors}}
        </div>
    {% endif %}   
</div>
<div class="custom-file-container" data-upload-id="image">
    <label>{{ form.image|add_label_class:'' }}<a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>
    <label class="custom-file-container__custom-file" >
        {{form.image|append_attr:"class:custom-file-container__custom-file__custom-file-input"|add_error_attr:"class:is-invalid"}}     
        <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
        <span class="custom-file-container__custom-file__custom-file-control"></span>
    </label>
    <div class="custom-file-container__image-preview"></div>
</div>
<div class="form-group mb-4">
    {{ form.date_published|add_label_class:'' }}
    {{form.date_published|append_attr:"class:form-control dateTimeFlatpickr"|add_error_attr:"class:is-invalid"}}     
    {% if form.date_published.errors %}
        <div class="invalid-feedback">
            {{form.date_published.errors}}
        </div>
    {% endif %}   
</div>
<div class="form-group mb-4">
    {{ form.date_expired|add_label_class:'' }}
    {{form.date_expired|append_attr:"class:form-control dateTimeFlatpickr expired"|add_error_attr:"class:is-invalid"}}     
    <div class="input-group-append">
        <button class="btn btn-primary" id="clear-date" type="button">{% trans 'Clear expiration date' %}</button>
    </div>
    {% if form.date_expired.errors %}
        <div class="invalid-feedback">
            {{form.date_expired.errors}}
        </div>
    {% endif %}   
</div>



