{% extends 'login/base.html' %}
{% block title %}
Successful
{% endblock title %}

{% block content %}
<div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Password Changed Successfully</h1>
                        <p class="signup-link mt-5">Now you can login your account</p>
                                              

                    </div>                    
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    </div>

{% endblock content %}
