{% load static %}
{% load i18n %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static  'admin/css/tagify.css' %}">
<script src="{% static 'admin/js/libs/jquery-3.6.0.min.js' %}"></script>
<!-- <script src="{% static 'admin/bootstrap/js/popper.min.js' %}"></script> -->
<script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'admin/js/jQuery.tagify.min.js' %}"></script>
<title>{% trans 'CMSX - Dashboard' %}</title>
<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
{% include 'dashboard/layout/__partials/css.html' %}
