{% load static %}
<link href="{% static 'admin/css/loader.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'admin/js/loader.js' %}"></script>

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
<link href="{% static 'admin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/plugins.css' %}" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
<link href="{% static 'admin/plugins/apex/apexcharts.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'admin/css/dashboard/dash_2.css' %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
<link href="{% static 'admin/plugins/table/datatable/datatables.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/table/datatable/custom_dt_custom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/table/datatable/dt-global_style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/forms/theme-checkbox-radio.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/components/tabs-accordian/custom-tabs.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/forms/switches.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/apps/contacts.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/flatpickr/flatpickr.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/flatpickr/custom-flatpickr.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/elements/tooltip.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/drag-and-drop/dragula/dragula.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/drag-and-drop/dragula/example.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/page_builder.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/elements/alert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/components/custom-modal.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/animate/animate.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/file-upload/file-upload-with-preview.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/components/cards/card.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/table/datatable/datatables.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/plugins/table/datatable/dt-global_style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/apps/mailbox.css' %}" rel="stylesheet" type="text/css" />
