{% load static compress %}
<script>
	// to be used by tinyMCE file_picker_callback
	var filemanager_url = "{% url 'get_filemanager' %}";
	var temp_config_url = "{% url 'get-tineymce-template-config' %}";
</script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="https://cdn.tiny.cloud/1/x91uo4kqiv1mefxf9fahuxqr5jj9f3hvbfxe7aw87zjyawgc/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% compress js file base %}
<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="{% static 'admin/js/libs/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'admin/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'admin/js/app.js' %}"></script>
<script src="{% static 'admin/plugins/fileupload/js/dropzone-amd-module.min.js' %}"></script>
<script src="{% static 'admin/plugins/fileupload/js/dropzone.min.js' %}"></script>
<script>
    $(document).ready(function() {
        App.init();
        feather.replace();
    });
    
</script>
<script src="{% static 'admin/js/loader.js' %}"></script>
<script src="{% static 'admin/js/custom.js' %}"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
<script src="{% static 'admin/plugins/highlight/highlight.pack.js' %}"></script>
<script src="{% static 'admin/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'admin/js/forms/bootstrap_validation/bs_validation_script.js' %}"></script>
<script src="{% static 'admin/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'admin/plugins/select2/custom-select2.js' %}"></script>
<script src="{% static 'admin/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'admin/plugins/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'admin/plugins/flatpickr/custom-flatpickr.js' %}"></script>
<script src="{% static 'admin/js/elements/tooltip.js' %}"></script>
<script src="{% static 'admin/plugins/drag-and-drop/dragula/dragula.min.js' %}"></script>
<script src="{% static 'admin/plugins/drag-and-drop/dragula/custom-dragula.js' %}"></script>
<script src="{% static 'admin/js/Sortable.min.js' %}"></script>
<script src="{% static 'admin/plugins/table/datatable/datatables.js' %}"></script>
<script src="{% static 'admin/js/apps/custom-mailbox.js' %}"></script>
<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
{% endcompress %}