{% load i18n static %}
<section class="news-listing" data-sort-method="{{block.sort}}" data-sort-order="{{block.sort_order}}" data-pagination="{{block.paginated}}">
    <div class="container">
        <div class="marginForNews">
            <div class="row" id="news-overview">
                
            </div>
        </div>
    </div>
</section>
{% block js %} 
    <script src="{% static 'front/js/jquery-3.6.0.min.js' %}"></script>
    <script>
        $( document ).ready(function() {
            get_articles();
        });
        function get_articles(){
            var sort_method = $('.news-listing').data('sort-method');
            var sort_order = $('.news-listing').data('sort-order');
            var pagination = $('.news-listing').data('pagination');
            $.ajax({
                type: 'POST',
                url: '{% url 'get-articles' %}',
                data: {
                    'page': 1,
                    'sort_method': sort_method,
                    'sort_order': sort_order,
                    'pagination': pagination,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(data) {
                    if(data.template){
                        $('#news-overview').html(data.template);
                    }
                }
            });
        }
    </script>
{% endblock %}