<div class="form-group row slider">
    <div class="col-md-{% if field.col_size == 'full' %}12{% elif field.col_size == 'half' %}6{% elif field.col_size == 'quarter' %}3{% endif %} ml-2">
        <label for="{{field.id}}">
            {{field.label}}
            <input class="form-control" type="range" id="{{field.id}}" name="{{field.type}}-{{field.id}}" min="{{field.min}}" max="{{field.max}}" {% if field.required %}required{% endif %}>
            <div class="form-error" style="color: red;">
            
            </div>
        </label>
    </div>
</div>