{% load i18n widget_tweaks get_group_permission_ids %}
<div class="form-group row">
    <div class="col-sm-12 ml-2">
        {{ form.name|add_label_class:''}}
        {{ form.name|append_attr:"class:form-control"|add_error_attr:"class:is-invalid"}}
        {% if form.name.errors %}
            <div class="invalid-feedback">
                {{form.name.errors}}
            </div>
        {% endif %}
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12 ml-2">
        {% if form.instance.id %}
            {% get_group_permission_ids form.instance as perm_ids %}
        {% endif %}

        {{ form.permissions|add_label_class:'' }}
        <div class="n-chk">
                <label class="new-control new-checkbox checkbox-primary">
                <input type="checkbox" class="new-control-input select-all-checkbox" >
                <span class="new-control-indicator"></span>Select all
                </label>
            </div>
        {% for choice in form.permissions.field.choices %}
            <div class="n-chk">
                <label class="new-control new-checkbox checkbox-primary">
                <input type="checkbox" class="new-control-input" name="permissions" value="{{choice.0}}" 
                {% if form.instance.id %}
                    {% if choice.0 in perm_ids %}
                    checked="true" data-checked="true"
                    {% endif %}
                {% endif %}>
                <span class="new-control-indicator"></span>{{choice.1}}
                </label>
            </div>
        {% endfor %}
        {% if form.permissions.errors %}
            <div class="invalid-feedback">
                {{form.permissions.errors}}
            </div>
        {% endif %}
    </div>
</div>


