{% extends "base.html" %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="form-container">
	<div class="form-form">
		<div class="form-form-wrap">
			<div class="form-container">
				<div class="form-content">

					<h1 class="">Inloggen in&nbsp;<span class="brand-name">GENESIS CMS</span></h1>
					<form class="text-left">
						<div class="form">
							{% if form.errors %}
								{% include "users/partials/errors.html" %}
							{% endif %}
							{% csrf_token %}
							<div id="username-field" class="field-wrapper input">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
								{{form.username}}
							</div>

							<div id="password-field" class="field-wrapper input mb-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
								{{form.password}}
							</div>
							<div class="d-sm-flex justify-content-between">
								<div class="field-wrapper toggle-pass">
									
								</div>
								<div class="field-wrapper">
									<button type="submit" class="btn btn-primary" value="">{% trans 'Log in' %}</button>
								</div>
								
							</div>

							<div class="field-wrapper">
								<input type="hidden" name="next" value="{{ next }}" />
								<a href="{% url 'users_password_reset' %}" class="forgot-pass-link">{% trans "Forgot password" %}</a>
							</div>

						</div>
					</form>                        
					<p class="terms-conditions">{% trans '© 2020 All Rights Reserved' %}.</p>

				</div>                    
			</div>
		</div>
	</div>
	<div class="form-image">
		<div class="l-image">TODO
		</div>
	</div>
</div>
{% endblock %}
