{% load i18n widget_tweaks %}
<form action="{% url 'edit-directory' %}" class="edit-directory-form" method="POST">
    {% csrf_token %}
    <div class="form-group mb-4">
        {{ form.parent|add_label_class:'' }}
        {{form.parent|append_attr:"class:form-control basic"|add_error_attr:"class:is-invalid"}}     
        {% if form.parent.errors %}
            <div class="invalid-feedback">
                {{form.parent.errors}}
            </div>
        {% endif %}   
    </div>
    <div class="form-group mb-4">
        {{ form.name|add_label_class:'' }}
        {{form.name|append_attr:"class:form-control"|add_error_attr:"class:is-invalid"}}     
        {% if form.name.errors %}
            <div class="invalid-feedback">
                {{form.name.errors}}
            </div>
        {% endif %}   
    </div>
    <div class="form-group mb-4">
        {{ form.summary|add_label_class:'' }}
        {{form.summary|append_attr:"class:form-control"|add_error_attr:"class:is-invalid"}}     
        {% if form.summary.errors %}
            <div class="invalid-feedback">
                {{form.menu_summarytitle.errors}}
            </div>
        {% endif %}   
    </div>
    <button class="btn btn-success submit-edit-directory" data-dir="{{dir}}" type="submit">{% trans 'Save' %}</button>
</form>
<script>
    $('.submit-edit-directory').on('click', function(e){
        e.preventDefault();
        var serializedData = $('.edit-directory-form').serialize();
        var csrf = "{{csrf_token}}";
        var dir = $(this).data('dir');
        $.ajax({
            type: 'POST',
            url: "{% url 'edit-directory' %}",
            data: serializedData + '&dir=' + dir,
            success: function(data){
                location.reload();
            },
        })
    });
</script>





