{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load static  %}
{% block content %}
<div class="row layout-top-spacing layout-spacing">
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>{% trans 'Translation overview' %}</h4>
                        <a href="{% url 'export-translation' %}" class="btn btn-default mb-2 ml-2"> {% trans 'Export translation' %}</a>
                        <a href="{% url 'import-translation' %}" class="btn btn-default mb-2 ml-2"> {% trans 'Import translation' %}</a>
                    </div>
                </div>
            </div>
                <div class="row" id="cancel-row">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="table-responsive mt-4 mb-4">
                                <table id="example" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Search for key' %}</th>
                                            <th>{% trans 'Search for english' %}</th>
                                            <th>{% trans 'Search for dutch' %}</th>
                                            <th>{% trans 'Search for french' %}</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center" rowspan="1" colspan="1">
                                                <input type="text" class="form-control searchfunction-key" value="{{searchkey|default_if_none:""}}" placeholder="{% trans 'Search for key' %}">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" class="form-control searchfunction-en" value="{{searchen|default_if_none:"" }}" placeholder="{% trans 'Search for english' %}">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" class="form-control searchfunction-nl" value="{{searchnl|default_if_none:"" }}" placeholder="{% trans 'Search for dutch' %}">
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                <input type="text" class="form-control searchfunction-fr" value="{{searchfr|default_if_none:"" }}" placeholder="{% trans 'Search for french' %}">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>{% trans 'Key' %}</th>
                                            <th>{% trans 'English' %}</th>
                                            <th>{% trans 'Dutch' %}</th>
                                            <th>{% trans 'French' %}</th>
                                        </tr>
                                    </thead>
                                    {% if entries %}
                                    <tbody>
                                        {% for key, v in entries %}
                                            <tr>
                                                <td class="key">{{ key }}</td>
                                                <td><input id="{{ v.en.pk }}"  class="lng form-control en" text="en" value="{{ v.en.translation }}"></td>
                                                <td><input id="{{ v.nl.pk }}" class="lng form-control nl" text="nl" value="{{ v.nl.translation }}"></td>
                                                <td><input id="{{ v.fr.pk }}" class="lng form-control nl" text="nl" value="{{ v.fr.translation }}"></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% else %}
                                    <tbody>
                                        <tr>
                                            <td colspan="3" class="key">{% trans 'Er zijn geen vertalingen gevonden...' %}</td>
                                        </tr>
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                            {% include 'dashboard/snippets/pagination.html' with items=entries %}

                        </div>
                    </div>
                </div>
            
        </div><!--end card-body-->
    </div><!--end card-->
</div> <!-- end col -->
{% endblock  %}
{% block js %}
<script>
    $(document).ready(function () {
        $("input:text.lng").each(function () {
            var $this = $(this);
            $(this).on("change", function () {
                var entry_id = this.id;
                var value = this.value;
                var lang = this.text;
                $.ajax({
                    type: "POST",
                    url: "update-translation",
                    data: {"entry_id": entry_id, "value": value, "lang": lang},
                    success: function (json) {

                    }
                })
            });
        });
        
        $(this).on("change", function () {
            var key = $('.searchfunction-key').val();
            var nl = $('.searchfunction-nl').val();
            var en = $('.searchfunction-en').val();
            if(key || nl || en){
                var query = '';
                if(key){
                    query += '?key='+ key;
                }
                if(nl){
                    if(key){
                        query += '&'
                    }
                    query += '?nl='+ nl;
                }
                if(en){
                    if(nl){
                        query += '&';
                    }
                    query += '?en='+ en;
                }
                console.log(query);
                window.location.href = 'index-translation' + query;
            }
        });
    });
</script>
{% endblock %}