{% extends 'dashboard/base.html' %}
{% load static i18n %}
{% block content %}
{% include 'filemanager/filemanager-modal.html' %}
<script src="{% static 'admin/js/libs/jquery-3.6.0.min.js' %}"></script>
<div class="row layout-top-spacing layout-spacing">
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>{% trans 'Import overview' %}</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <label for="select-model">{% trans 'Selecteer het object dat je wilt importeren' %}</label><br>
                <select class="form-control" name="select-model" id="select-model">
                    {% for key, model in models %}
                        <option value="{{key}}">{{model}}</option>
                    {% endfor %}
                </select>
                <div class="field-overview">

                </div>
            </div>
        </div>
    </div>
    <div class="modal-placeholder">

    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    function getOverview() {
        var model = $('#select-model').val();
        $.ajax({
            type: 'GET',
            url: '{% url "file-upload-import-overview" %}',
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'model': model
            },
            success: function (data) {
                $('.field-overview').html(data.template);
            }
        });
    }
    getOverview();
    $('#select-model').on('change', function() {
        var model = $(this).val();
        $.ajax({
            type: 'GET',
            url: '{% url "file-upload-import-overview" %}',
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'model': model
            },
            success: function (data) {
                $('.field-overview').html(data.template);
            }
        });
    })
</script>
{% endblock %}