{% load i18n static perma_url %}
{% get_current_language as LANGUAGE_CODE %}
<div class="row layout-spacing layout-top-spacing" id="cancel-row">
    <div class="col-lg-12">
        <div class="widget-content searchable-container list"></div>

            <div class="searchable-items list" id="sortable">
                <div class="items items-header-section">
                    <div class="item-content">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            {% for module in modules %}
                                <a href="javascript:void(0)" data-module="{{module.models}}" class="btn btn-{% if current_module == module.models %}primary{% else %}secondary{% endif %} set-module">{{module.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if current_module == 'Page' %}
                    {% if items.exists %} 
                        <div class="table-responsive">
                            <table class="table mb-4">
                                <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td>{{item.page_title}}</td>
                                            <td class="text-primary">{% if item.full_slug %}{{item.full_slug}}{% else %}{{item.slug}}{% endif %}</td>
                                            <td><button class="btn btn-outline-primary select-url" data-url="{% get_perma_url LANGUAGE_CODE current_module item.id %}">{% trans 'Select url' %}</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% elif current_module == 'Article' %}
                    {% if items.exists %} 
                        <div class="table-responsive">
                            <table class="table mb-4">
                                <tbody>
                                    {% for item in items %}
                                        <tr>
                                            <td>{{item.title}}</td>
                                            <td><button class="btn btn-outline-primary select-url" data-url="{% get_perma_url LANGUAGE_CODE current_module item.id %}">{% trans 'Select url' %}</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $('.set-module').on('click', function(e){
        module = $(this).data('module');
        $.ajax({
            type: 'POST',
            url: '{% url 'getURLPicker' %}',
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'action': module
            },
            success: function(data){
                $('#internalLinkModal').modal();
                $('.get-urlpicker').html(data.template);
            },
        })
    });
    $('.select-url').on('click', function(e){
        e.preventDefault();
        var url = $(this).data('url');
        $('.urlpicker-widget').val(url);
        $('#internalLinkModal').modal('toggle');
    });

</script>