{% load i18n static %}
<div class="row">
    <div class="col-md-8">
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} class="filemanager-widget form-control" value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
    </div>
    <div class="input-group-append col-md-4">
        <button class="btn btn-block btn-dark browse-filemanager" type="button">{% trans 'Browse' %}</button>
    </div>
</div>

{% include 'filemanager/filemanager-modal.html' %}
<script>
    $('.browse-filemanager').on('click', function() {
        function getCookie(name) {
            var cookieValue = null; 
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            type: 'POST',
            url: '{% url 'get_filemanager' %}',
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'type': 'image'
            },
            success: function(data){
                $('#filemanagerModal').modal();
                $('.get-filemanager').html(data.template);
            },
        })
        
    });
</script>
