{% load i18n static %}
<div class="row">
    <div class="col-md-8">
        <input type="{{ type }}" id="{{ id }}_tags_input" name="{{ name }}" class="filemanager-widget form-control" value="" autocomplete="off" {{ attrs }}>

<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<script src="/static/jquery-ui-1.12.1.min.js"></script>
<script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
//<![CDATA[

jQuery(document).ready(function($){
    $(document).on('click', ".{{id}}_widget_a", function(e) {
            var file = $(this).data('file');
            var target = $("#{{ id }}_tags_input");
            var tags = (file).split(/[ ,]+/);
            for (var i = 0, z = tags.length; i<z; i++) {
                var tag = $.trim(tags[i]);
            if (!target.tagExist(tag)) {
                    target.addTag(tag); 
                }
            
            }
            $(".close").trigger('click')
        });
    $('#{{ id }}_tags_input').tagsInput({
        autocomplete: {
            source: '{{ autocomplete_url }}',
            autoFocus: true,
            delay: 20
        },
        width:'100%',
        height:"100%",
        {% if not mapping.create_missing %}autocompleteOnly: true,{% endif %}
        minInputWidth: "100%",
        {% if on_add_tag %}onAddTag: {{ on_add_tag }},{% endif %}
        {% if on_remove_tag %}onRemoveTag: {{ on_remove_tag }},{% endif %}
        {% if on_change_tag %}onChangeTag: {{ on_change_tag }},{% endif %}
        autocomplete_url: '{{ autocomplete_url }}'
    });

});
//]]>



</script>

{# django admin adds the help text. this is for use outside of the admin #}
{% block help %}{% if help_text %}<p class="help">{{help_text}}</p>{% endif %}{% endblock %}
{{ inline }}
    </div>
    <div class="input-group-append col-md-4">
        <button class="btn btn-block btn-dark browse-filemanager" type="button">{% trans 'Browse' %}</button>
    </div>
</div>

{% include 'filemanager/filemanager-modal.html' %}
<script src="{% static 'admin/js/libs/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}"></script>
<script>
    var  ids= "{{id}}"
    $(document).ready(function(){

    var main_btn = $("#{{id}}_tags_input_addTag").closest(".row").find(".browse-filemanager")
                main_btn.removeClass("browse-filemanager")
                main_btn.addClass("{{id}}_widget_btn")
    });
    $(document).on('click', ".{{id}}_widget_btn", function() {
        function getCookie(name) {
            var cookieValue = null; 
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            type: 'POST',
            url: '{% url 'get_filemanager' %}',
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'type': 'image'
            },
            success: function(data){
                $('#filemanagerModal').modal("show");
                $('.get-filemanager').html(data.template);
                ids = $("#filemanagerModal").find(".select-file")
                ids.removeClass("select-file")
                ids.addClass("{{id}}_widget_a")
            },
        })
        
    });

</script>
