{% load i18n static %}
<div class="row">

    <div class="col-md-8">
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} class="" value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>

<script type="text/javascript">
jQuery(document).ready(function($){

    $('#{{widget.attrs.id}}')
        .tagify({
            'editTags': false
        })
        .on('add', function(e, tagData){
            console.log('Tag data: ', tagData);
        });

    var tagifyObject = $('#{{widget.attrs.id}}').data('tagify');
    
    $('#file_tag').change(function(e){
        let tag = $(this).val();
        tagifyObject.addTags(tag);
        $(this).val(null);
    });

});



</script>

{# django admin adds the help text. this is for use outside of the admin #}
{% block help %}{% if help_text %}<p class="help">{{help_text}}</p>{% endif %}{% endblock %}
{{ inline }}
    </div>
    <div class="input-group-append col-md-4">
        <button class="btn btn-block btn-dark browse-filemanager" type="button">{% trans 'Browse' %}</button>
    </div>
</div>

{% if not from_news_app %}
{% include 'filemanager/filemanager-modal.html'%}
{% endif %}
<script>
    var  ids= "{{id}}"
    $(document).ready(function(){
    var main_btn = $("#{{widget.attrs.id}}").closest(".row").find(".browse-filemanager")
                main_btn.removeClass("browse-filemanager")
                main_btn.addClass("{{widget.attrs.id}}_widget_btn")
    });
    $(document).on('click', ".{{widget.attrs.id}}_widget_btn", function() {
        function getCookie(name) {
            var cookieValue = null; 
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        $.ajax({
            type: 'POST',
            url: '{% url 'get_filemanager' %}',
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'type': 'image',
                'is_multiple_media_image': true,
            },
            success: function(data){
                $('#filemanagerModal').modal("show");
                $('.get-filemanager').html(data.template);
            }
        })

        
    });


</script>
