{% load i18n static %}
<div class="row">
    <div class="col-md-8">
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} class="urlpicker-widget form-control" value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
    </div>
    <div class="input-group-append">
        <button class="btn btn-block btn-dark select-url" type="button">{% trans 'Select internal link' %}</button>
    </div>
</div>
<br>
{% include 'urlpicker/internal-link-modal.html' %}
<script src="{% static 'admin/js/libs/jquery-3.6.0.min.js' %}"></script>
<script>
    $('.select-url').on('click', function() {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            type: 'POST',
            url: '{% url 'getURLPicker' %}',
            data: {
                'csrfmiddlewaretoken': csrftoken,
            },
            success: function(data){
                $('#internalLinkModal').modal();
                $('.get-urlpicker').html(data.template);
            },
        })
        
    });
</script>
